# Base typings and additional dependencies
librensetsu @ git+https://github.com/rensetsu/librensetsu.git #egg=librensetsu

# AniDB UDP API Interface
anidbcli
# Database Relational Mapping
animeapi-py
# FastAPI, used for OAuth with redirection
fastapi[all]
# Data Validation
pydantic[email]
# CLI Argument Parser
typer[all]
# Wayback Machine API Interface
waybackpy
