# Base typings and additional dependencies
git+https://github.com/rensetsu/librensetsu.git

# AniDB UDP API Interface
anidbcli
# Database Relational Mapping
animeapi-py
# FastAPI, used for OAuth with redirection
fastapi[all]
# Data Validation
pycountry
pydantic[email]
pydantic-extra-types
# Slugify
slugify
# CLI Argument Parser
typer[all]
# Wayback Machine API
waybackpy
