anidbcli
animeapi-py
beautifulsoup4
cloudscraper
dacite
fake-useragent
fastapi[all]
git+https://github.com/rensetsu/librensetsu.git
poli-enum
pwinput
pykeepass
python-box[all]~=7.0
requests
slugify
typer[all]
waybackpy
